html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('/images/background-chcete-byt-milionarem.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 67%;
  transform: translate(-50%, -67%);
  color: white;
}

.number-of-teams{
  background-color: rgb(70, 57, 206);
  color: white;
  border: none;
}

.team-display{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 7vh;
  grid-row-gap: 30vh; 
  transform: translate(-50%, -50%);
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150vh;
}

.team-stats{
  min-height: 150px; /* nebo fixní height: 150px; podle potřeby */
  border: solid black 6px;
  border-radius: 4px;
  background-color: rgb(0, 225, 255);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* centrování obsahu */
  justify-content: flex-start; /* nebo center, podle potřeby */
  box-sizing: border-box;
}

.team-stats input{
  text-align: center;
  border-radius: 0;
  border: none;
  width: 100%;
  border-bottom: solid rgb(12, 107, 180);
  box-sizing: border-box;
  background-color: rgb(44, 111, 204);
}

.team-stats input::placeholder{
  text-align: center;
  color: black;
}

.window{
  z-index: 100;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  font-size: 20px;
  background-color: rgb(50, 48, 48, 0.92);
  color: white;
}

.quiz-container{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.roztrel-otazka{
  margin-top: 15vh;
  font-size: 5vh;
  min-width: 1200px;
  min-height: 60px;
  background: linear-gradient(to right, rgb(7, 7, 66), rgb(38, 38, 135));
  border: rgb(180, 180, 180) solid 5px;
  color: white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.question-container{
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  column-gap: 5vh;
  row-gap: 2vh;
}

.answer-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 140px;
  min-width: 140px ;
  min-height: 150px;
  background: linear-gradient(to right, rgb(7, 7, 66), rgb(38, 38, 135));
  border: rgb(180, 180, 180) solid 5px;
  color: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-button{
  font-size: 20px;
  min-width: 350px;
  min-height: 50px;
  background: linear-gradient(to right, rgb(7, 7, 66), rgb(38, 38, 135));
  border: rgb(180, 180, 180) solid 5px;
  color: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.rada{
  background-color: rgb(53, 53, 99, 0);
  border: none;
  cursor: pointer;
}

.rada img{
  width: 18vh;
}

.rady-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.prize-container {
  height: 75vh;
  color: orange;
  font-weight: bold;
  font-size: 4vh;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  justify-content: center;
}

.prize{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30vh;
  align-items: center;
}

.zachytny-bod{
  color: rgb(247, 255, 96);
}

.selected-prize{
  background-color: rgb(226, 93, 44);
  padding-left: 1vh;
}

#userAnswer{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  background: linear-gradient(to right, rgb(7, 7, 66), rgb(38, 38, 135));
  color: white;
  width: 25vh;
  height: 5vh;
  font-size: 4vh;
  border: none;
  border-radius: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-answer-button{
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -60%);
  background: linear-gradient(to right, rgb(7, 7, 66), rgb(38, 38, 135));
  color: white;
  width: 25vh;
  height: 5vh;
  font-size: 4vh;
  border: none;
  border-radius: 2.5vh;
}

.team-stats img{
  max-height: 80px;
  width: auto;
  object-fit: contain;
  margin-top: 10px;
}